.userList{
    flex: 4;
    height: calc(100vh - 50px);
}

.userListUser{
    display: flex;
    align-items: center;
}
.userListUserImg{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.userListIcons{
    display: flex;
    align-items: center;
    gap: 5px;
    height: inherit;
}
.usersLink{
    display: flex;
    align-items: center;
}
.userListIconEdit{
    color: rgb(40, 160, 40);
    cursor: pointer;
}
.userListIconDelete{
    color: red;
    cursor: pointer;
}